Sphinx<1.8
sphinxcontrib-bibtex
sphinxcontrib-trio

# colorama
colorama

# Invoke
invoke

# QA
isort
flake8
pycodestyle<2.4
pydocstyle
rstcheck

# JSON
jsonschema
msgpack-python
ijson

# matplotlib
matplotlib

# networkx
networkx

# PIL
Pillow
PyQt5

# pycrypto
pycrypto

# pygame
pygame

# watchdog
watchdog
